.bg-color {
  &--primary {
    background-color: $primary;
  }
  &--secondary {
    background-color: $bg-secondary;
  }
  &--white {
    background-color: #FFFFFF;
  }
}
.text-color--dark {
  color: $text-dark;
}
.text-color--gray {
  color: $text-gray;
}
.text-color--primary {
  color: $primary;
}
.text-color--white {
  color: #FFFFFF;
}
.clickable-el {
  position: relative;
  cursor: pointer;
  &:before {
    transition: $default-transition;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: inherit;
    position: absolute;
    top: 0;
    left: 0;
  }
  &:hover {
    &:before {
      background-color: $color-hover-primary;
    }
  }
}

.hide-scrollbar {
  /* Скрываем scrollbar для Chrome, Safari и Opera */
  ::-webkit-scrollbar {
    display: none;
  }

  /* Скрываем scrollbar для IE, Edge и Firefox */
  -ms-overflow-style: none;  /* IE и Edge */
  scrollbar-width: none;  /* Firefox */
}

.separator {
  border: 1px solid $separator-primary-color;
  &--left {
    border-left: 1px solid $separator-primary-color;
  }
  &--right {
    border-right: 1px solid $separator-primary-color;
  }
  &--bottom {
    border-bottom: 1px solid $separator-primary-color;
  }
  &--top {
    border-top: 1px solid $separator-primary-color;
  }
}
