.text-color--gray {
  color: $text-gray;
}

.clickable {
  position: relative;
  cursor: pointer;
  &:before {
    transition: $default-transition;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: inherit;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1;
  }
  &:hover {
    &:before {
      background-color: var(--q-primary);
    }
  }
}

.hide-scrollbar {
  /* Скрываем scrollbar для Chrome, Safari и Opera */
  ::-webkit-scrollbar {
    display: none;
  }

  /* Скрываем scrollbar для IE, Edge и Firefox */
  -ms-overflow-style: none;  /* IE и Edge */
  scrollbar-width: none;  /* Firefox */
}

.separator {
  $_color: var(--separator-color-primary);
  border: 1px solid $_color;
  &--left {
    border-left: 1px solid $_color;
  }
  &--right {
    border-right: 1px solid $_color;
  }
  &--bottom {
    border-bottom: 1px solid $_color;
  }
  &--top {
    border-top: 1px solid $_color;
  }
}

.separator-secondary {
  $_color: var(--separator-color-secondary);
  border: 1px solid $_color;
  &--left {
    border-left: 1px solid $_color;
  }
  &--right {
    border-right: 1px solid $_color;
  }
  &--bottom {
    border-bottom: 1px solid $_color;
  }
  &--top {
    border-top: 1px solid $_color;
  }
}
