// app global css in SCSS form
@import "variables";
@import "helpers";
@font-face {
  font-family: 'Mulish';
  src: local('Mulish'),
  url('../assets/fonts/Mulish-VariableFont_wght.ttf') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Mulish';
  src: local('Mulish'),
  url('../assets/fonts/Mulish-VariableFont_wght.ttf') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Mulish, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $text-dark;
}
a {
  text-decoration: none;
}
